body {
    background-color: lavender;
}

.btn {
    cursor: pointer;
}

body {
    color: #34495e;
}

.clicked {
    color: lightblue;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}